@font-face {
    font-family: 'Fragment Mono';
    src: url('../fragment-mono/FragmentMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fragment Mono';
    src: url('../fragment-mono/FragmentMono-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
